@font-face {
  font-family: "Ubuntu-C";
  src: url("../../resources/font/Ubuntu-C.ttf") format("truetype");
}

body{
  /* variable */
  --brown-color: #795548;
  --light-brown-color: #4d352d;
  --dark-brown-color: #a77563;
  --broken-white-color: #E1E2E1;

  margin: 0;
  background-color: var(--broken-white-color);
}

#main-title{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--brown-color);
}

#logo{
  margin-right: 10px;
  max-width: 100px;
  max-height: 100px;
}

h1, h2{
  margin: 0;
}

h1{
  font-size: 36px;
}

h1, h2, h3, p{
  font-family: "Ubuntu-C";
}

a{
  text-decoration: none;
  color: black;
}

nav{
  border-bottom: 2px solid var(--brown-color);
  display: flex;
  justify-content: space-between;
}

nav > section > a > button:hover{
  cursor: pointer;
}

button{
  background-color: var(--broken-white-color);
  text-decoration: none;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}

button:hover{
  background-color: var(--brown-color);
  color: white;
}

#name{
  display: inline;
  text-decoration: underline;
  color: var(--brown-color);
}

main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Cards */

.card{
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 15px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.card > header{
  display: flex;
  border-bottom: 2px solid var(--brown-color);
  justify-content: space-between;
}

.card > header > p{
  display: flex;
  border: 2px var(--brown-color);
  border-style: solid solid none;
  margin: 0;
  height: 20px;
  margin-right: 10px;
  padding: 4px;
  align-self: flex-end;
  border-radius: 10px 10px 0px 0px;
}

.card > header > h3{
  margin-left: 20px;
}

.card > section{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card > section > div{
  width: 28%;
  margin: 3px;
  padding: 2px;
  background-color: var(--brown-color);
  display: flex;
  justify-content: center;
  border-radius: 10px;
  color: white;
}

.card > div{
  display: flex;
  justify-content: space-around;
  margin: 10px 0px 10px 0px;
}

.card > div > img{
  width: 70px;
  max-height: 70px;
}

.card > footer{
  display: flex;
  justify-content: space-around;
}

.card > p{
  margin: 15px;
}

.user-card{
  background-color: var(--brown-color);
  color: white;
}

.card > footer > p{
  background-color: var(--broken-white-color);
  border-radius: 10px;
  padding: 4px;
}

hr{
  border-top: 1px var(--brown-color) solid;
  width: 100px;
}