@font-face {
  font-family: "Ubuntu-C";
  src: url("../../resources/font/Ubuntu-C.ttf") format("truetype");
}

body{
  /* variable */
  --brown-color: #795548;

  margin: 0;
  background-color: #E1E2E1;
}

header{
  display: flex;
  justify-content: center;
  padding: 20px;
  background-color: var(--brown-color);
}

#logo{
  margin-right: 10px;
  max-width: 100px;
  max-height: 100px;
}

section{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1, h2{
  margin: 0;
}

h1{
  font-size: 36px;
}

main{
  margin-top: 50px;
  display: flex;
}

#login, #subscribe{
  padding: 40px;
  width: 50%;
}

#login {
  border-right: 2px solid var(--brown-color);
}

input{
  margin-bottom: 10px;
}

p{
  background-color: var(--brown-color);
  padding: 10px;
  text-align: center;
  font-size: 20px;
  margin-top: 0;
}

input, button, p, h1, h2, h3{
  font-family: "Ubuntu-C";
}

input, button{
  font-size: 18px;
}

h3{
  color: var(--brown-color);
}

a{
  text-decoration: none;
  color: black;
}

/* Media-queries */

@media (max-width: 800px) {
  main{
    flex-direction: column;
    align-items: center;
  }

  #login {
    border-right: 0;
    border-bottom: 2px solid var(--brown-color);
  }

  #login, #subscribe{
    width: 80%;
  }
}